{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


{{ govukTag({
  text: "Version 4",
  classes: "govuk-tag--green"
}) }}


    <h1 class="govuk-heading-xl govuk-!-margin-top-4">
      {{ serviceName }}
    </h1>

    

  <ul class="govuk-list govuk-body-m">   
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1703086371068/6e4df174ca15dd3ab4246c2620738aa20d29467a?sender=uc287fb0c65a61d3da2202202" target="_blank">
      Version 4: Mural prototype flow</a>
    </li>
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1701270961974/ed546a987d16ca2ce7a3ee3d682dba98905707c1?sender=uc287fb0c65a61d3da2202202" target="_blank">
      Service design map</a>
    </li>
  </ul>


{# <h2 class="govuk-heading-m"></h2>  #}

<!-- Start prototype button--> 
  {{ govukButton({
    text: "Start prototype",
    href: "pay-a-penalty"
  }) }}


<h2 class="govuk-heading-m">Screens</h2>


<ul class="govuk-list govuk-list--bullet">    
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="pay-a-penalty">
      Pay a penalty start page
    </a>
  </li>
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="which-penalty-service">
      What type of penalty do you need to pay?
    </a>
  </li>  

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="sign-in">
      Sign in
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="penalty-details">
      Penalty details
      </a>
  </li>
      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="penalty-details-error">
      Penalty details - ERROR
      </a>
  </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="penalty-summary">
      Penalty summary
      </a>
  </li>

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="https://products.payments.service.gov.uk/pay/81dafb56e27f404e9e6ab8b318affd8a">
      Payment screens
      </a>
  </li>

  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="confirmation">
      Confirmation page
      </a>
  </li>
      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="email-confirmation">
      Confirmation email
      </a>
  </li>
  </ul>




<h2 class="govuk-heading-m">Bank transfer and stop screens</h2>
<ul class="govuk-list govuk-list--bullet">    

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="stop-you-need-to-pay-another-way">
      Stop screen: You need to pay by bank transfer
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="stop-this-penalty-has-already-been-paid">
      Stop screen: This penalty has already been paid
      </a>
  </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="stop-sorry-there-is-a-problem-with-this-service">
      Stop screen: Sorry, there is a problem with the service
      </a>
  </li>
  <br>
      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="bank-transfer/penalty-type">
      TBA - Penalty type
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="bank-transfer/sanctions-details">
      TBA - Stop screen: Bank transfer - sanctions 
      </a>
  </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="bank-transfer/late-filing-details">
      Stop screen: Bank transfer - late filing details
      </a>
  </li>
</ul>

<!-- Details component -->

<div class="govuk-margin-top-6">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Archived
      </span>
    </summary>
    <div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">     

  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="start">
      Start page
    </a>
  </li>
  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/before-you-start">
      Before you start
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/do-you-want-to-sign-in">
      Do you want to sign in?
      </a>
    </li>

  
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/enter-email-address">
      What is the email address you need the notification of payment sent to?
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/email-address-correct">
      Is this email address correct?
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/penalty-summary-v2">
      Penalty summary: Option 2
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/penalty-summary-v3">
      Penalty summary: Option 3
      </a>
    </li>

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/card-payment">
      Enter card details
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="confirm-your-payment">
      Confirm your payment
      </a>
    </li>
    </ul>
  </div>
  </div>
  
</details>


      {# {{ govukWarningText({
          text: "This prototype is being actively worked on - things might break or change very quickly",
          iconFallbackText: "Warning"
        }) }} #}


<div class="govuk-grid-column-full">

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Version history
    </dt>
  </div>

            {# Tags - copy and paste correct tag(s)
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
              <strong class="govuk-tag govuk-tag--blue">tech</strong>
              <strong class="govuk-tag govuk-tag--red">More research needed</strong>
              <strong class="govuk-tag govuk-tag--yellow">user research</strong>
              <strong class="govuk-tag govuk-tag--pink">design</strong> 
            </div> #}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a class="govuk-link govuk-body-m govuk-link--no-visited-state" 
      href="https://companieshouse.atlassian.net/wiki/spaces/NS/pages/4483743745/Iterations+to+prototype+after+Round+3+user+testing" target="_blank">
      <strong>Confluence documentation of changes</strong>
   </a>
  {# <p class="govuk-body">Confluence</p> #}
  </dt>
<dd class="govuk-summary-list__value">
<p class="govuk-body">
<strong>High level changes made in this version</strong><br>
<ul class="govuk-list govuk-list--bullet">
<li>x</li>
<li>x</li>
<strong class="govuk-tag govuk-tag--red">More research needed</strong>
<li>x</li>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
<li>x</li>
<strong class="govuk-tag govuk-tag--yellow">user research</strong>



{# <strong class="govuk-tag govuk-tag--blue">tech</strong> 
<strong class="govuk-tag govuk-tag--red">More research needed</strong>
<strong class="govuk-tag govuk-tag--yellow">user research</strong>
<strong class="govuk-tag govuk-tag--blue">tech</strong> 
<strong class="govuk-tag govuk-tag--yellow">user research</strong>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">policy</strong>
 #}




</ul>
</dd>
</div>



   <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
      
      
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Round of testing
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>Round 3 informed this prototype</li>
        </dd>
      </div>

            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>20 February - 22 February</li>
        </dd>
      </div>
      

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>4 x participants:</li>
            <li>2 x accountants</li>
            <li>2 x retired accountants</li>
        </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Testing focus
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>Understand users expectations about the process, thoughts on version 2 of the draft penalty letter, and ability to pay a penalty classed as other.</li>
            {# <li>Terminology</li>
            <li>Caveats</li> #}
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1708010186088/ed0afaa3883dd3773bf659e4143e867e642a23cd?sender=uc287fb0c65a61d3da2202202"
          target="_blank">Round 3 research findings Mural</a> <br>

        </dd>
      </div>

  </div>
</div>

{% endblock %}
