{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pay a penalty - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}

<!-- Breadcrumbs -->
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Heading -->
      <h1 class="govuk-heading-xl">
        Pay a penalty to Companies House
      </h1>

<!-- Intro -->
      <p class="govuk-body">Use this service to make an online payment by credit or debit card if you've received a penalty notice from Companies House.</p>

<!-- You'll need -->
<p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to sign in to or create a Companies House account</li>
        <li>a credit or debit card</li>        
        <li>the information on your penalty notice that we sent you in the post</li></ul>

<p>You must pay the full amount.</p>

<!-- Where to find your reference numbers
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find the reference numbers
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You'll need 2 reference numbers. They are both at the top of the penalty notice we sent to you.</p>
        
          <img src='/public/images/roe-penalty-notice.png' class='call-out-image' alt=''/>

          <br><br><p>The first number is the penalty reference number. This starts with a letter, followed by 7 numbers. For example, A1234567.</p>

          <p>The second number depends on what type of penalty you are paying. It will be one of the following:
            <ul class="govuk-list govuk-list--bullet">
              <li>case ID</li>
              <li>sanction ID</li>
              <li>company number</li>
            

          
        </div>
      </details>-->





      <p class="govuk-body">It usually takes around 5 minutes to pay.</p>



<!-- Start button -->
<a href="which-penalty-service" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

     <!-- Appeal a penalty -->
  <div class="govuk-!-margin-top-6"> 
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         I want to appeal a penalty
        </span>
      </summary>
      <div class="govuk-details__text">


<h3 class="govuk-heading-s">Late filing penalties only</h3>You can <a href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late" class="govuk-link">appeal a late filing penalty (for filing accounts late) through Companies House</a>.  You must show that the reasons are exceptional.</p>
<h3 class="govuk-heading-s">Other types of penalties</h3>
<a href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late" class="govuk-link">Read the guidance about the appeals process for other penalties</a>.

<!--<p>Other penalties can only be appealed through the County Court or High Court. You have 28 days from when the penalty was issued to make an appeal. <a href="https://www.gov.uk/contact-companies-house" class="govuk-link">If you have submitted an appeal to the courts, you need to contact us (within 7 days)</a>.  </p>-->
  </div>
</details>
  
  <!-- Other ways to pay -->
  <div class="govuk-!-margin-top-6"> 
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Other ways to pay
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body"> You can pay your penalty by Bacs bank transfer. This payment method usually takes longer to process (around 3 working days). We also accept overseas bank transfers. </p> <a href="bank-transfer/which-penalty-service">Find out which account details to use for a bank transfer</a>.  <!--We’ll ask you a simple question about your penalty reference, to direct you to the correct payment account for this type of penalty. --> </p>You can also find these bank account details on your penalty notice. ​ 
</p>
    
   
    </div>
  </details>
  </div>        





    
  



<p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Read advice from AbilityNet on how to adapt your device to meet your needs</a>. For example, changing the background colour or text size.</p>



<!--- Details -->
      {# {{ govukDetails({
        summaryText: "Help with nationality",
        text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
      }) }} #}

    </div>
  </div>

{% endblock %}
