{% extends "layouts/main.html" %}

{% block pageTitle %}
  Penalty summary - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% include "includes/signed-in.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <!---<span class="govuk-caption-xl">STARDUST LIMITED</span> -->
<h1 class="govuk-heading-xl">Penalty summary</h1>
    </div>
  </div>



<!--- Penalty summary list -->

    {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
        {
            key: {
              text: "Issued to "
            },
            value: {
              text: "STARDUST LIMITED (28502425)"
            }
          },
          {
            key: {
              text: "Type of penalty"
            },
            value: {
              text: "Failure to provide an appropriate registered email address"
            }
          },
          {
            key: {
              text: "Penalty reference"
            },
            value: {
              text: "Y8294053"
            }
          },
          {
            key: {
              text: "Due by"
            },
            value: {
              text: "14 March 2024"
            }
          },
          {
            key: {
              text: "Amount"
            },
            value: {
              html: "£250 (no VAT is charged)"
            }
          }
        ]
      }) }}

<p class ="govuk-body-l"><strong>Total: £250 </strong></p>

<!--- Button green -->
<!-- use card number 4000056655665556 -->
        {{ govukButton({
          text: "Continue to payment",
            href: "https://products.payments.service.gov.uk/pay/81dafb56e27f404e9e6ab8b318affd8a"
        }) }}

<p class="govuk-body"> <a href="penalty-details">Pay a different penalty instead</a></p>



<p class="govuk-body-xs govuk-!-margin-top-9"> <a href="confirmation">Skip to confirmation</a></p>
  </form>
</div>


{% endblock %}
