{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pay a penalty - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}

<!-- Breadcrumbs -->
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Heading -->
      <h1 class="govuk-heading-xl">
        Pay a penalty to Companies House
      </h1>

<!-- Intro -->
      <p class="govuk-body">Use this service to make an online payment by credit or debit card if you've received a penalty notice from Companies House.</p>

<!-- You'll need -->
<p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to sign in to or create a Companies House account (this is different to a WebFiling account)</li>
        <li>a credit or debit card</li>        
        <li>the information on your penalty notice (that we sent you in the post)</li></ul>

<!-- Lost letter - this may go on guidance page instead -->
<div class="govuk-!-margin-top-6"> 
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
       I've lost my penalty notice
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body"> Email <a href="#">enquiries@companieshouse.gov.uk</a> to let us know if you have lost your penalty notice. Use 'Lost penalty notice' as the email subject.
        
      </p></p>Tell us as much information as you can about the penalty so we can pass your message to the right team.
    </div>
  </details>
</div>  

<p>You must pay the full amount. </p>
  
  {# If there is interest applied to your penalty, we will tell you the total amount you owe #}


      <p class="govuk-body">It usually takes around 5 minutes to pay. We'll email you a receipt.</p>



<!-- Start button -->

<a href="02-what-does-the-penalty-reference-start-with" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>


  <!-- Read guidance-->
    
{# <p><a href="#" class="govuk-link">Read the guidance for more information about Companies House penalties</a>.</p>
 #}

  <!-- Bank transfer -->
  
  <!--<h2 class="govuk-heading-m">Pay by bank transfer</h2>

  <p class="govuk-body"><a href="bank-transfer/which-penalty-service">Find out which account details to use for a bank transfer</a>. This payment method usually takes longer to process (up to 4 working days).
  </p> -->
    

  
  <!-- Bank transfer within details component​ -->
  
   <div class="govuk-!-margin-top-6"> 
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         Pay by bank transfer
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">This payment method usually takes longer to process (up to 4 working days). <a href="bank-transfer/which-penalty-service">Find out which account details to use for a bank transfer</a>.    <!--We’ll ask you a simple question about your penalty reference, to direct you to the correct payment account for this type of penalty. --> <!--</p>You can also find these bank account details on your penalty notice. ​  --> 
        
      </div>
    </details>
  </div>      


      

 <!-- Appeal a penalty-->

     <!--<h2 class="govuk-heading-m">Appeal a penalty</h2>

    <h3 class="govuk-heading-s">If you have a late filing penalty</h3>


    <p class="govuk-body">This option is only for penalties for late filing of accounts. You can <a href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late" class="govuk-link">appeal a late filing penalty (for filing accounts late) through Companies House</a>.  You must show that the reasons are exceptional.

    <h3 class="govuk-heading-s">If you have any other type of penalty</h3>

    <p class="govuk-body">You can only appeal through the courts. <a href="https://www.advicenow.org.uk/guides/appealing-against-county-court-decision" class="govuk-link">Read guidance from Advice Now</a> or contact a solicitor for help with this. <br><br>
      
    You have 28 days from when the penalty was issued to make an appeal. If you have submitted an appeal to the courts, you need to <a href="https://www.gov.uk/contact-companies-house" class="govuk-link"> tell us by email or in writing </a>(within 7 days). <br><br>
     
    You cannot appeal directly to Companies House, and we are not able to offer legal advice.</p>-->

<!-- Appeal a penalty within details component-->

  <div class="govuk-!-margin-top-6"> 
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         I want to appeal a penalty
        </span>
      </summary>
  <div class="govuk-details__text"> 


  <h3 class="govuk-heading-s">If you have a late filing penalty</h3>

  This option is only for penalties for late filing of accounts. You can <a href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late" class="govuk-link">appeal a late filing penalty (for filing accounts late) through Companies House</a>.  You must show that the reasons are exceptional.</p>

  <h3 class="govuk-heading-s">If you have any other type of penalty</h3></p> 

  You can only appeal through the courts. <a href="https://www.advicenow.org.uk/guides/appealing-against-county-court-decision" class="govuk-link">Read guidance from Advicenow</a> or contact a solicitor for help with this. </p>
 
  You have 28 days from when the penalty was issued to make an appeal. If you have submitted an appeal to the courts, you need to <a href="https://www.gov.uk/contact-companies-house" class="govuk-link"> tell us by email or in writing </a>(within 7 days).</p></p>
 
  You cannot appeal directly to Companies House, and we are not able to offer legal advice.


    <!--<p>Other penalties can only be appealed through the County Court or High Court. You have 28 days from when the penalty was issued to make an appeal. <a href="https://www.gov.uk/contact-companies-house" class="govuk-link">If you have submitted an appeal to the courts, you need to contact us (within 7 days)</a>.  </p>-->
  </div>
  </details>






    
  



<br><p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Read advice from AbilityNet on how to adapt your device to meet your needs</a>. For example, changing the background colour or text size.</p>



<!--- Details -->
      {# {{ govukDetails({
        summaryText: "Help with nationality",
        text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
      }) }} #}

    </div>
  </div>

{% endblock %}
