{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/email-address-correct" method="post">

  <h1 class="govuk-heading-xl">
    Is this email address correct?
  </h1>

<p class="govuk-body-l">{{data['email']}}</p>



  {{ govukRadios({
    name: "emailAddressCorrect",
    values: data["email-address-correct"],
    fieldset: {
    },
    items: [
      {
        value: "yes",
        text: "Yes, send the notification to this email address"
      },
      {
        value: "no",
        text: "No, go back"
      }
    ]
  }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

<p class="govuk-link">
  <a href="">Is this page not working properly? (opens in a new tab)</a>
</p>

    </div>
  </div>

{% endblock %}
