{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% include "includes/signed-in.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          Pay by bank transfer or cheque
        </h1>

      <p>
        You've told us that <b>your penalty reference starts with A</b>. This means it's a late filing penalty. <br><br>
        
        You can pay this type of penalty by Bacs or cheque.
       </p>

       <div class="govuk-inset-text">
        Use these details to pay this penalty. Check the details carefully, as they may be different from other transactions you've made with us.​
      </div>
    <!--<p>
     You'll need to know your company name and number, and the amount to be paid. You'll find your company number on your penalty notice.
    </p>-->

<!-- Bacs -->
<h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10031154</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
        <p>
          Your payment may take up to 4 working days to process. </p>

<!-- Overseas account -->
<h3 class="govuk-heading-s">Overseas payments</h3>
<ul class="govuk-list govuk-list--bullet">
 <li><b>IBAN</b>: GB79NWBK60708010031154</li>
 <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
 <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>


<!-- NB The content below is specific to LFP at the moment so will need to change -->
    <!--<p>
     Email the LFP finance team at Companies House to tell them you’ve paid. Include in your email the:
    </p>

    <ul class="govuk-list govuk-list--bullet">
     <li>company number</li>
     <li>company name</li>
     <li>penalty reference number</li>
     <li>amount paid</li>
     <li>date paid</li>
   </ul>


   <div class="govuk-inset-text">
     LFP finance team
     <br>Companies House
     <br><a href="#">lfpfinance@companieshouse.gov.uk</a>
   </div>-->

   <!--<h3 class="govuk-heading-s">What happens next</h3>

   <p>
    Your payment may take up to 4 working days to process. </p>

    <p>
      If you have any questions, you can 
      <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
      
    </p>-->


<!-- Cheque -->
   <h3 class="govuk-heading-s">Payments by cheque</h3>

   <p>You can pay by cheque through the post. Make the cheque payable to ‘Companies House only’ and send it to Companies House, with the slip on your penalty notice (‘remittance advice’).
   </p>

   <div class="govuk-inset-text">
     Companies House
     <br>PO Box 710
     <br>Crown Way
     <br>CF14 3UZ
   </div>

   <p>Write the company name and number on the back of the cheque. You’ll find the company number on your penalty notice.
   </p>

   <h3 class="govuk-heading-s">Our contact details</h3>
   <p>
    If you have any questions, you can 
    <a href="https://www.gov.uk/contact-companies-house">contact us</a>.

{% endblock %}
