 {% extends "layouts/main.html" %} 

{% block pageTitle %}
  Payment received - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block beforeContent %}
{% include "includes/banner.html" %}
{% include "includes/signed-in.html" %}
{% endblock %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Payment received",
        html: "You have paid this penalty <br><br> Your penalty reference number is <br><b>Y8294053</b><br><br>Your sanction ID is <br> <b>4892046381</b>"
        
      }) }}

      <p class="govuk-body">We've emailed these details to <strong>user@testcompany.co.uk</strong>. You will also receive an email from GOV.UK Pay confirming that your payment was successful. Keep these emails as receipt of payment. </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We will process your payment, which may take up to 24 hours.
      </p>
  
      <p>
        You do not need to <a href="https://www.gov.uk/contact-companies-house">contact us</a> unless you have a problem.
      </p>
      

      <h2 class="govuk-heading-m">Add or update a registered email address </h2>

      <p class="govuk-body">
        You can  <a href="#" class="govuk-link">add or update a registered email address for your company</a> from your account. Once you have added a registered email address, we will not take further action.
      </p>

      <h2 class="govuk-heading-m">Pay another penalty </h2>

      <p class="govuk-body">
        If you have more than one penalty, you can use this service again to <a href="#" class="govuk-link">pay another penalty</a>. 
      </p>

      <br><br>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>

        {{ govukButton({
          text: "Print this page",
          classes: "govuk-button--secondary govuk-!-margin-top-3",
          href: "javascript: window.print()"
        }) }} <!--  to developers, this is a JS-reliant button just for prototyping-->
        <!-- the production site would need a non-JS solution OR the you could use JS to hide the button, as in people without JS would not see a button, rather than see a broken button -->
     

      <p class="govuk-body-xs govuk-!-margin-top-9">
        <a href="email-confirmation" class="govuk-link">Confirmation email</a> 
      </p>
    </div>
  </div>


{% endblock %}
