{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          You need to pay another way
        </h1>

<!-- Introduction and list -->
      <p>
       You cannot use this online service if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have more than one penalty to pay for the same company or person</li>
        <li>have already paid part of the penalty</li>
        <li>are on an instalment plan, or would like to set one up</li>
        <li>have additional court costs to pay</li>
      </ul>


      <p>
        If you have any questions, you can 
        <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
        
      </p>

<!-- Another way -->
      <h2 class="govuk-heading-m">
       Choose another way to pay
      </h2>

      <p>
        You can also pay by:
       </p>
   
       <ul class="govuk-list govuk-list--bullet">
         <li>Bacs</li>
         <li>cheque (late filing penalties only)</li>
       </ul>
   
       <p>You'll need the details from your penalty notice, and the amount to be paid.
       </p>
    
      <!-- Bacs -->
      <h3 class="govuk-heading-s">Pay by Bacs</h3>
  
      <p>
       You can pay using Bacs payment.
      </p>
  
      <p>
       It usually takes up to 3 working days for your payment to reach Companies House. Check your bank's transaction limits and processing times before making a payment.
      </p>
  
      <p>
       You'll need to use the Companies House sort code, account number and account name.
      </p>
  
      <ul class="govuk-list govuk-list--bullet">
       <li>Sort code - 60 70 80</li>
       <li>Account number - 10031154</li>
       <li>Account name - COMPANIES HOUSE</li>
     </ul>
  
  
  <!-- Overseas account -->
     <h3 class="govuk-heading-s">If you're paying from an overseas account</h3>
  
     <p>
       You can pay through a bank transfer from an overseas account.
      </p>
  
      <p>
       You'll need to use the Companies House swift code, account number and account name.
      </p>
  
      <ul class="govuk-list govuk-list--bullet">
       <li>Account number (IBAN) - GB79NWBK60708010031154</li>
       <li>Swift code -  NW BK GB 2L</li>
       <li>Account name - COMPANIES HOUSE</li>
     </ul>
  
  <!--  -->
      <p>
       Email the finance team at Companies House to tell them you’ve paid. Include in your email the:
      </p>
  
      <ul class="govuk-list govuk-list--bullet">
       <li>company number</li>
       <li>company name</li>
       <li>penalty reference number</li>
       <li>amount paid</li>
       <li>date paid</li>
     </ul>
  
  
     <div class="govuk-inset-text">
       Finance team
       <br>Companies House
       <br><a href="#">finance@companieshouse.gov.uk</a>
     </div>
  
  <!-- Cheque -->
     <h3 class="govuk-heading-s">Pay by cheque (late filing penalties only)</h3>
  
     <p>You can pay a late filing penalty by cheque, through the post. Make the cheque payable to ‘Companies House only’ and send it along with the slip on the penalty notice (‘remittance advice’) to Companies House.
     </p>
  
     <div class="govuk-inset-text">
       Companies House
       <br>PO Box 710
       <br>Crown Way
       <br>CF14 3UZ
     </div>
  
     <p>Write the company name and number on the back of the cheque. You’ll find the company number on your penalty notice.
     </p>
    </div>


{% endblock %}
