{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          You need to pay by bank transfer
        </h1>

      <p>You cannot use this online service to pay this penalty. Pay by bank transfer instead.</p>

  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
   If you’ve paid Companies House by bank transfer before, your bank may automatically use the same bank account and it might not be correct. Check you are using the details on this page.
  </strong>
</div>

<p>You’ve told us that your penalty reference starts with U. Use the details on this page to pay this type of penalty.</p>

       <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10033599</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. For example, U1234567. Your payment may be delayed if you use the wrong reference. </li></ul>
      
    
      
   
   <!-- Overseas account -->
   <h3 class="govuk-heading-s">Overseas payments</h3>
   <ul class="govuk-list govuk-list--bullet">
    <li><b>IBAN</b>: GB24NWBK60708010033599</li>
    <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
    <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. For example, U1234567.  Your payment may be delayed if you use the wrong reference. </li></ul>
  

        
    
        <h3 class="govuk-heading-s">What happens next</h3>

     <p>
      Your payment may take up to 4 working days to process. </p>

      <p>
        If you have any questions, you can 
        <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
        
      </p>

  

  
 
  </div>

      
{% endblock %}