{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        {# Update the page to tell the user when the service will be available#}
        <p class="govuk-body">
          You will be able to use the service from 9am on Monday 19&nbsp;November&nbsp;2018.
        </p>


        <h2 class="govuk-heading-m">Pay another way</h2>
        <p>
        You can pay your penalty by bank transfer while the online service is unavailable. Some penalties can also be paid by cheque.
        
        <h3 class="govuk-heading-s">If your penalty reference starts with A</h3>
        


       <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use these details to pay your late filing penalty
    </span>
  </summary>
  <div class="govuk-details__text">
    Check the details carefully, as they may be different from other transactions you've made with us.
<br><br>
    <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10031154</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
        
        <p>
          Your payment may take up to 4 working days to process. </p>
          
<!-- Overseas account -->
<h3 class="govuk-heading-s">Overseas payments</h3>
<ul class="govuk-list govuk-list--bullet">
 <li><b>IBAN</b>: GB79NWBK60708010031154</li>
 <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
 <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>


 
 <h3 class="govuk-heading-s">Payments by cheque</h3>

   <p>You can pay by cheque through the post. Make the cheque payable to ‘Companies House only’ and send it to Companies House, with the slip on your penalty notice (‘remittance advice’).
   </p>

   <div class="govuk-inset-text">
     Companies House
     <br>PO Box 710
     <br>Crown Way
     <br>CF14 3UZ
   </div>

   <p>Write the company name and number on the back of the cheque. You’ll find the company number on your penalty notice.
   </p>
 

  </div>
</details>


<h3 class="govuk-heading-s">If your penalty reference starts with U or Z</h3>
       


       <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use these details to pay your overseas entity penalty
    </span>
  </summary>
  <div class="govuk-details__text">
    Check the details carefully, as they may be different from other transactions you've made with us.
<br><br>
    <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10033599</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
      
    
      
   
   <!-- Overseas account -->
   <h3 class="govuk-heading-s">Overseas payments</h3>
   <ul class="govuk-list govuk-list--bullet">
    <li><b>IBAN</b>: GB24NWBK60708010033599</li>
    <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
    <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
<h3 class="govuk-heading-s">What happens next</h3>
<p>
      Your payment may take up to 4 working days to process. </p>
  </div>
</details>

       
<h3 class="govuk-heading-s">If your penalty reference starts with PN</h3>
        


       <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use these details to pay your penalty
    </span>
  </summary>
  <div class="govuk-details__text">
    Check the details carefully, as they may be different from other transactions you've made with us.
<br><br>
    <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10033599</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
      
    
      
   
   <!-- Overseas account -->
   <h3 class="govuk-heading-s">Overseas payments</h3>
   <ul class="govuk-list govuk-list--bullet">
    <li><b>IBAN</b>: GB24NWBK60708010033599</li>
    <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
    <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
  

        
    
        <h3 class="govuk-heading-s">What happens next</h3>

<p>
      Your payment may take up to 4 working days to process. </p>
  </div>
</details>

       



 

        <p class="govuk-body">
          If you have any questions, you can 
        <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
