{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        {# Update the page to tell the user when the service will be available#}
        <p class="govuk-body">
          You will be able to use the service from 9am on Monday 19&nbsp;November&nbsp;2018.
        </p>


        <h2 class="govuk-heading-m">Pay your penalty by bank transfer or cheque</h2>
        <p>
        You can pay your penalty by bank transfer or cheque while the online service is unavailable.
        
        <h3 class="govuk-heading-s">If your penalty reference starts with A</h3>
        <p>This means it's a late filing penalty.
       </p>


       <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use these details to pay a late filing penalty
    </span>
  </summary>
  <div class="govuk-details__text">
    Check the details carefully as they maybe different from other transactions you've made with us.
<br>
    <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10031154</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
        

<!-- Overseas account -->
<h3 class="govuk-heading-s">Overseas payments</h3>
<ul class="govuk-list govuk-list--bullet">
 <li><b>IBAN</b>: GB79NWBK60708010031154</li>
 <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
 <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>

 <h3 class="govuk-heading-s">What happens next</h3>
 <p>
          Your payment may take up to 4 working days to process. </p>

  </div>
</details>


<h3 class="govuk-heading-s">If your penalty reference starts with U or Z</h3>
        <p>This means it's an overseas entity penalty
       </p>


       <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use these details to pay an overseas entity penalty
    </span>
  </summary>
  <div class="govuk-details__text">
    Check the details carefully as they maybe different from other transactions you've made with us.
<br>
    <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10033599</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
      
    
      
   
   <!-- Overseas account -->
   <h3 class="govuk-heading-s">Overseas payments</h3>
   <ul class="govuk-list govuk-list--bullet">
    <li><b>IBAN</b>: GB24NWBK60708010033599</li>
    <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
    <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
<h3 class="govuk-heading-s">What happens next</h3>
<p>
      Your payment may take up to 4 working days to process. </p>
  </div>
</details>

       
<h3 class="govuk-heading-s">If your penalty reference starts with PN</h3>
        


       <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Use these details to pay a penalty
    </span>
  </summary>
  <div class="govuk-details__text">
    Check the details carefully as they maybe different from other transactions you've made with us.
<br>
    <h3 class="govuk-heading-s">Bacs payments</h3>
       <ul class="govuk-list govuk-list--bullet">
        <li><b>Account name</b>: Companies House</li>
        <li><b>Sort code</b>: 60 70 80</li>
        <li><b>Account number</b>: 10033599</li>
        <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
      
    
      
   
   <!-- Overseas account -->
   <h3 class="govuk-heading-s">Overseas payments</h3>
   <ul class="govuk-list govuk-list--bullet">
    <li><b>IBAN</b>: GB24NWBK60708010033599</li>
    <li><b>SWIFT code (BIC)</b>: NW BK GB 2L</li>
    <li><b>Payment reference</b>: Use your penalty reference, so that we know which penalty you've paid. Your payment may be delayed if you use the wrong reference. </li></ul>
  

        
    
        <h3 class="govuk-heading-s">What happens next</h3>

<p>
      Your payment may take up to 4 working days to process. </p>
  </div>
</details>

       



 

        <p class="govuk-body">
          If you have any questions, you can 
        <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
