{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


{{ govukTag({
  text: "Version 1",
  classes: "govuk-tag--green"
}) }}


    <h1 class="govuk-heading-xl govuk-!-margin-top-4">
      {{ serviceName }}
    </h1>

    

  <ul class="govuk-list govuk-body-m">   
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1703086371068/6e4df174ca15dd3ab4246c2620738aa20d29467a?sender=uc287fb0c65a61d3da2202202" target="_blank">
      Version 1: Mural prototype flow</a>
    </li>
  </ul>


<h2 class="govuk-heading-m"></h2> 
<ul class="govuk-list govuk-list--bullet">    
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="pay-a-penalty">
      Pay a penalty overarching page
    </a>
  </li>
    <li>
    <a class="govuk-link govuk-link--no-visited-state" href="which-penalty-service">
      Which type of penalty do you need to pay?
    </a>
  </li>  

  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="filter-question">
      Filter question - do any of these apply to you?
      </a>
  </li>

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="sign-in">
      Sign in
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="penalty-details">
      Tell us your penalty details
      </a>
  </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="penalty-summary">
      Sanctions and powers penalty for Ashcroft Limited
      </a>
  </li>

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="https://products.payments.service.gov.uk/pay/81dafb56e27f404e9e6ab8b318affd8a">
      Payment screens
      </a>
  </li>

  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="confirmation">
      Confirmation page
      </a>
  </li>
      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="email-confirmation">
      Confirmation email
      </a>
  </li>
  </ul>


<h2 class="govuk-heading-m">Stop screens</h2>
<ul class="govuk-list govuk-list--bullet">    

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="stop-cannot-use-online-service">
      Stop screen: Cannot use this online service
      </a>
  </li>
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="stop-penalty-paid">
      Stop screen: The penalty A1234567 is already paid or partially paid
      </a>
  </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="stop-penalty-cannot-use-this-service">
      Stop screen: You cannot use this service
      </a>
  </li>
</ul>

<!-- Details component -->

<div class="govuk-margin-top-6">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Archived
      </span>
    </summary>
    <div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">     

  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="start">
      Start page
    </a>
  </li>
  <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/before-you-start">
      Before you start
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/do-you-want-to-sign-in">
      Do you want to sign in?
      </a>
    </li>

  
    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/enter-email-address">
      What is the email address you need the notification of payment sent to?
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/email-address-correct">
      Is this email address correct?
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/penalty-summary-v2">
      Penalty summary: Option 2
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/penalty-summary-v3">
      Penalty summary: Option 3
      </a>
    </li>

      <li>
      <a class="govuk-link govuk-link--no-visited-state" href="archived/card-payment">
      Enter card details
      </a>
    </li>

    <li>
      <a class="govuk-link govuk-link--no-visited-state" href="confirm-your-payment">
      Confirm your payment
      </a>
    </li>
    </ul>
  </div>
  </div>
  
</details>


      {# {{ govukWarningText({
          text: "This prototype is being actively worked on - things might break or change very quickly",
          iconFallbackText: "Warning"
        }) }} #}



  </div>
</div>

{% endblock %}
