 {% extends "layouts/main.html" %} 

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Payment received",
        html: "You do not need to do anything else <br><br> Your penalty reference number<br><strong>A1234567</strong>"
        
      }) }}

      <p class="govuk-body">We've emailed your penalty reference number and confirmation of your payment to <strong>abc@email.co.uk</strong>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We will process your payment. This may take up to 24 hours.
      </p>
  
      <h2 class="govuk-heading-m">Sign up for email reminders </h2>

      <p class="govuk-body">
        You can  <a href="#" class="govuk-link">sign up to receive email reminders</a> to file your company accounts. This will help you file on time in future and avoid penalties.
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>


{% endblock %}
