{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/filter-question" method="post">


{{ govukCheckboxes({
  name: "applyToYou",
  values: data["apply-to-you"],
  fieldset: {
    legend: {
      text: "Do any of these apply to you?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "multiple",
      text: "I need to pay multiple penalties and do not have a separate penalty reference for each one"
    },
    {
      value: "instalment",
      text: "I require an instalment plan"
    },
    {
      value: "partial",
      text: "I have partially paid a penalty or am already on an instalment plan"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of the above",
      behaviour: "exclusive"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
