{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pay a penalty - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Heading -->
      <h1 class="govuk-heading-xl">
        Pay a penalty to Companies House
      </h1>


<!-- List -->
      <p>Use this service to pay a penalty for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Late filing</li>
        <li>Powers and sanctions</li>
        <li>Register of overseas entities</li>
      </ul>

<!-- Inset text -->
      <div class="govuk-inset-text">
       Blah blah
      </div>

<!-- Button -->
  {{ govukButton({
    text: "Continue",
    href: "which-penalty-service"
  }) }}

<!--- Details -->
      {# {{ govukDetails({
        summaryText: "Help with nationality",
        text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
      }) }} #}

    </div>
  </div>

{% endblock %}
