{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pay a penalty - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Heading -->
      <h1 class="govuk-heading-xl">
        Pay a penalty to Companies House
      </h1>

<!-- Body -->
      <p class="govuk-body">Use this service to make an online payment for a penalty issued by Companies House.</p>

      <h2 class="govuk-heading-m">What you can do in this service</h2>

      <p class="govuk-body">You can use this service if you or your company has one penalty to pay.</p>

<!-- List -->
      <p>You can pay:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a late filing penalty</li>
        <li>another penalty that has been issued to a company or person</li>
      </ul>

      <p>You cannot use this service if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have more than one penalty to pay for the same company or person</li>
        <li>want to pay in instalments</li>
        <li>have already paid part of the penalty</li>
        <li>have additional court costs or debt collection costs</li>
        <li>need to pay a large amount over £X</li>
      </ul>

      <p class="govuk-body">
        If any of these apply to you, <a href="#" class="govuk-link">find out other ways you can pay your penalty</a>.
      </p>

      <h2 class="govuk-heading-m">What you'll need</h2>

      <p>To pay your penalty, you’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a Companies House account - we'll ask you to sign in or create one</li>
        <li>your penalty reference number</li>
        <li>the company number or personal reference number</li>
        <li>a credit or debit card</li>
      </ul>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find your reference numbers
          </span>
        </summary>
        <div class="govuk-details__text">
          Your reference numbers are shown at the bottom of your penalty notice.

          [image of letter]
        </div>
      </details>

      <p class="govuk-body">It usually takes around 5 minutes to pay.</p>

<!-- Button -->
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

  <h2 class="govuk-heading-m">
   Other ways to pay
  </h2>

  <p class="govuk-body">[text]</p>


  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
       I want to appeal a penalty
      </span>
    </summary>
    <div class="govuk-details__text">
      You can <a href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late" class="govuk-link">appeal a late filing penalty</a> through Companies House, but it will only be successful if you can show that the reasons are exceptional.
    

    </div>
    <div class="govuk-details__text">
      
      Other types of penalty can only be appealed through the courts.

    </div>
  </details>



<!--- Details -->
      {# {{ govukDetails({
        summaryText: "Help with nationality",
        text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
      }) }} #}

    </div>
  </div>

{% endblock %}
