{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          Sanctions and powers penalty for Ashcroft Limited
        </h1>


<!--- Penalty reference -->
       {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Lorem ipsum",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Type of penalty",
      classes: "govuk-!-width-one-third"
    },
    {
      text: "Penalty reference",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "Penalty reference",
      classes: "govuk-!-width-one-quarter"
    },
    {
      text: "Penalty amount",
      classes: "govuk-!-width-one-quarter"
    }
  ],
  rows: [
    [
      {
        text: "First 6 weeks"
      },
      {
        text: "£109.80 per week"
      },
      {
        text: "£59.10 per week"
      }
    ],
    [
      {
        text: "Next 33 weeks"
      },
      {
        text: "£159.80 per week"
      },
      {
        text: "£89.10 per week"
      }
    ],
    [
      {
        text: "Total estimated pay"
      },
      {
        text: "£4,282.20"
      },
      {
        text: "£2,182.20"
      }
    ]
  ]
}) }}


<!--- Button -->
        {{ govukButton({
          text: "Continue",
            href: "penalty-paid"
        }) }}

      </form>



<!--- Details -->
      {{ govukDetails({
        summaryText: "Where can I find these details?",
        text: "Lorem ipsum.
          The postcode will be on the address on the top right of your letter. 
          If you do not have your penalty reference number, please contact Companies House"
      }) }}



<!--- Link -->
      <p class="govuk-link">
        <a href="">Is this page not working properly? (opens in a new tab)</a>
      </p>

    </div>
  </div>

{% endblock %}
