{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {# <!-- Check for error -->
      {% if errorPenaltyReference == true or errorCustomerNumber == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %} #}


      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-xl">
          Tell us your penalty details
        </h1>


<!--- Inset text - multiple penalties are on hold -->
     {# {{ govukInsetText({
        text: "You can add more penalties later in the journey"
      }) }}  #}




{# <!-- Check for error -->
        {% if errorPenaltyReference %}
<!--- ERROR Penalty reference -->
        {{ govukInput({
          label: {
            text: "What is the penalty reference number?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This starts with an A and you'll find it on the penalty notice Companies House sent to you. For example, A1234567"
          },
            errorMessage: {
              text: "Enter a penalty reference number"
            },
          id: "penalty-reference",
          name: "penaltyReference",
          values: data["penalty-reference"]
        }) }}
        {% else %} #}

<!--- Penalty reference -->
        {{ govukInput({
          label: {
            text: "What is the penalty reference number?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This starts with an A and you'll find it on the penalty notice Companies House sent to you. For example, A1234567"
          },
          id: "penalty-reference",
          name: "penaltyReference",
          values: data["penalty-reference"]
        }) }}
{# {% endif %}  #}





<!--- Customer number -->
        {{ govukInput({
          label: {
            text: "What is the customer number?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This could be your company number or ACSP number"
          },
          id: "customer-number",
          name: "customerNumber",
          values: data["customer-number"]
        }) }}



<!--- Button -->
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>



<!--- Details -->
      {{ govukDetails({
        summaryText: "Where can I find these details?",
        html: '<p>Lorem ipsum.
          If you do not have your penalty reference number, please contact Companies House.
          If you do not have these details <a href="">contact us.</a></p>'
      }) }} 



<!-- Links for testing-->
<div class="govuk-!-margin-top-9">
      <p class="govuk-body-xs">
        <a href="stop-penalty-paid" class="govuk-link--no-visited-state">Stop screen: penalty paid</a>
      </p>

      <p class="govuk-body-xs govuk-link--no-visited-state">
        <a href="stop-penalty-cannot-use-this-service" class="govuk-link--no-visited-state">Stop screen: cannot use this service</a>
      </p>

      {# 
      
      Add in here links to the other stop screens
      <p class="govuk-body-xs govuk-link--no-visited-state">
        <a href="stop-penalty-cannot-use-this-service" class="govuk-link--no-visited-state">Stop screen: cannot use this service</a>
      </p>

      <p class="govuk-body-xs govuk-link--no-visited-state">
        <a href="stop-penalty-cannot-use-this-service" class="govuk-link--no-visited-state">Stop screen: cannot use this service</a>
      </p>

      <p class="govuk-body-xs govuk-link--no-visited-state">
        <a href="stop-penalty-cannot-use-this-service" class="govuk-link--no-visited-state">Stop screen: cannot use this service</a>
      </p> #}



      </div>

    </div>
  </div>

{% endblock %}
