{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
          Tell us your penalty details
        </h1>


<!--- Inset text -->

     {{ govukInsetText({
        text: "You can add more penalties later in the journey"
      }) }} 

      {# <p class="govuk-body"> You can add more penalties later in the journey</p> #}

<!--- Penalty reference -->
        {{ govukInput({
          label: {
            text: "What is the penalty reference number?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This starts with an A and you'll find it on the penalty notice Companies House sent to you. For example, A1234567"
          },
          id: "penalty-reference",
          name: "penaltyReference"
        }) }}


<!--- Postcode -->
        {{ govukInput({
          label: {
            text: "What is the postcode the letter was sent to?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "For example, E1 9GT"
          },
          id: "postcode",
          name: "postcode"
        }) }}



<!--- Button -->
        {{ govukButton({
          text: "Continue",
            href: "penalty-summary"
        }) }}

      </form>



<!--- Details -->
      {{ govukDetails({
        summaryText: "Where can I find these details?",
        text: "Lorem ipsum.
          The postcode will be on the address on the top right of your letter. 
          If you do not have your penalty reference number, please contact Companies House"
      }) }}



<!--- Link -->
      <p class="govuk-link--no-visited-state">
        <a href="">Is this page not working properly? (opens in a new tab)</a>
      </p>



<!--- Links for testing-->
      <p class="govuk-body-s govuk-link--no-visited-state">
        <a href="penalty-paid">Stop screen: penalty paid</a>
      </p>

      <p class="govuk-body-s govuk-link--no-visited-state">
        <a href="penalty-cannot-use-this-service">Stop screen: cannot use this service</a>
      </p>

    </div>
  </div>

{% endblock %}
