{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          You need to pay another way
        </h1>

<!-- Introduction and list -->
      <p>
       You cannot use this service if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have more than one penalty to pay for the same company or person</li>
        <li>have already paid part of the penalty</li>
        <li>are on an instalment plan, or would like to set one up</li>
        <li>have additional court costs to pay</li>
      </ul>


      <p>
        If you have any questions, you can 
        <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
        
      </p>

<!-- Another way -->
      <h2 class="govuk-heading-m">
       Choose another way to pay
      </h2>

      <p>
       [Bacs etc.]
       </p>

{% endblock %}
