{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          You need to pay another way
        </h1>

<!-- Introduction and list -->
      <p>
       You cannot use this service if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have more than one penalty to pay for the same company or person</li>
        <li>have already paid part of the penalty</li>
        <li>are on an instalment plan, or would like to set one up</li>
        <li>have additional court costs to pay</li>
      </ul>


      <p>
        If you have any questions, you can 
          .
        
      </p>

<!-- Another way -->
      <h2 class="govuk-heading-m">
       Choose another way to pay
      </h2>

      <p>
        You can also pay by:
       </p>
 
       <ul class="govuk-list govuk-list--bullet">
         <li>Bacs</li>
         <li>cheque</li>
       </ul>

       <p>
        You’ll need to know your company name and number, and the amount to be paid. You’ll find your company number on your penalty notice.
       </p>

       <h3 class="govuk-heading-s">Pay by Bacs</h3>

       <p>
        You can pay using Bacs payment.
       </p>

       <p>
        It usually takes up to 3 working days for your payment to reach Companies House. Check your bank’s transaction limits and processing times before making a payment.
       </p>

       <p>
        You’ll need to use the Companies House sort code, account number and account name.
       </p>

       <ul class="govuk-list govuk-list--bullet">
        <li>Sort code - 60 70 80</li>
        <li>Account number - 10031154</li>
        <li>Account name - COMPANIES HOUSE</li>
      </ul>

      <h3 class="govuk-heading-s">If you're paying from an overseas account</h3>

      <p>
        You can pay through a bank transfer from an overseas account.
       </p>

       <p>
        You’ll need to use the Companies House swift code, account number and account name.
       </p>

       <ul class="govuk-list govuk-list--bullet">
        <li>Account number (IBAN) - GB79NWBK60708010031154</li>
        <li>Swift code -  NW BK GB 2L</li>
        <li>Account name - COMPANIES HOUSE</li>
      </ul>

<!-- The content below is specific to LFP at the moment so will need to change -->
       <p>
        Email the LFP finance team at Companies House to tell them you’ve paid. Include in your email the:
       </p>

       <ul class="govuk-list govuk-list--bullet">
        <li>company number</li>
        <li>company name</li>
        <li>penalty reference number</li>
        <li>amount paid</li>
        <li>date paid</li>
      </ul>



      <div class="govuk-inset-text">
        LFP finance team
        <p>Companies House</p>
        <a href="#">lfpfinance@companieshouse.gov.uk</a>
      </div>


{% endblock %}
