{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v1/do-you-want-to-sign-in" method="post">


<!-- Heading and radio buttons -->
{{ govukRadios({
  name: "penaltyType",
  value: data['penalty-type'],
  fieldset: {
    legend: {
      text: "What type of penalty do you need to pay?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "lfp",
      text: "A late filing penalty"
    },
    {
      value: "sanctions",
      text: "A penalty issued as a result of a sanction"
    }
  ]
}) }}


<!-- Button -->
        {{ govukButton({
          text: "Continue",
          href: "filter-question"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
