{% extends "layouts/main.html" %}

{% block pageTitle %}
  Penalty details - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% include "includes/signed-in.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "These penalty details do not match. Enter the company number and penalty reference exactly as they are shown on your penalty notice.",
      href: "#customer-number"
    }
  ]
}) }}


      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Penalty details
        </h1>
        <p id="address-line-1-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> 
These penalty details do not match. Enter the company number and penalty reference exactly as they are shown on your penalty notice.    </p>
        <!--<p class="govuk-hint govuk-">We use 2 reference numbers to identify a penalty, to help keep your information secure.</p>

{# 
        {{ govukInsetText({
          text: "We use 2 reference numbers to identify a penalty, to help keep your information secure."
        }) }} #}-->




<!--- Inset text - multiple penalties are on hold -->
     {# {{ govukInsetText({
        text: "You can add more penalties later in the journey"
      }) }}  #}



<!--- Company number -->
        {{ govukInput({
          label: {
            text: "What is the company number?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "This is 8 characters. For example, 12345678 or AB123456."
  },
  errorMessage: {
    text: ""
  },
          id: "company-number",
          name: "companyNumber",
          value: data["company-number-value-wrong"]
        }) }}

  <!--- Penalty reference -->
          {{ govukInput({
            label: {
              text: "What is the penalty reference?",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            classes: "govuk-input--width-10",
            hint: {
              text: "This starts with a Y, followed by 7 numbers. For example, Y1234567."
            },
            errorMessage: {
              text: ""
            },
            id: "penalty-reference",
            name: "penaltyReference",
            value: data["penalty-reference-number"]
          }) }}
  {# {% endif %}  #}




        
<!--- Details -->
<div class="govuk-!-margin-top-6"> 
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Where to find the penalty details
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>You'll find these numbers at the top of the penalty notice we sent to you.</p>
    
      <img src='/public/images/roe-penalty-notice.png' class='call-out-image' alt=''/>
    </div>
  </details>
  </div>        






<!--- Button -->
        {{ govukButton({
          text: "Continue",
          href: "stop-you-need-to-pay-another-way"
        }) }}

      </form>







<!-- Links for testing-->
{# <div class="govuk-button-group">
<div class="govuk-!-margin-top-9">
      <p class="govuk-body-xs"> Stop screens: <br>
        <a href="stop-this-penalty-has-already-been-paid" class="govuk-link--no-visited-state">This penalty has already been paid</a><br>
        <a href="stop-sorry-there-is-a-problem-with-this-service" class="govuk-link--no-visited-state">Sorry, there is a problem with the service</a><br>
        <a href="stop-you-need-to-pay-another-way" class="govuk-link--no-visited-state">Stop screen: You need to pay another way</a>
      </p>
      </div>  
      </div> #}

    </div>
  </div>

{% endblock %}
