{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        <h1 class="govuk-heading-xl">
          You need to pay by bank transfer
        </h1>



      <p>You cannot use this online service to pay this penalty. </p>

      <h3 class="govuk-heading-s">How to pay by bank transfer</h3>

        <p>
          Use these account details to pay by bank transfer (Bacs). Include the penalty reference in the transaction reference.
         </p>
     
         <ul class="govuk-list govuk-list--bullet">
          <li>Sort code: 60 70 80</li>
          <li>Account number: 10033599</li>
          <li>Account name: COMPANIES HOUSE</li></ul>
        
          <div class="govuk-inset-text">
            These account details may be different from other transactions you've made with Companies House.
          </div>
        
     
     <!-- Overseas account -->
     <div class="govuk-!-margin-top-6"> 
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Pay from an overseas account
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Use these account details to make a bank transfer from an overseas account. Include the penalty reference in the transaction reference.</p>

     
         <ul class="govuk-list govuk-list--bullet">
          <li>Account number (IBAN): GB24NWBK60708010033599</li>
          <li>Swift code:  NW BK GB 2L</li>
          <li>Account name: COMPANIES HOUSE</li></ul>

          <div class="govuk-inset-text">
            These account details may be different from other transactions you've made with Companies House.
          </div>

          <p>
           Email the Powers and Sanctions finance team at <a href="#">psfinance@companieshouse.gov.uk</a> to tell them you’ve paid. In your email, include the following information:
           </p>
       
           <ul class="govuk-list govuk-list--bullet">
            <li>company number</li>
            <li>company name</li>
            <li>penalty reference</li>
            <li>amount paid</li>
            <li>date paid</li>
          </ul>
       
       
      
        
      </details>
      </div> 


     

          
      
          <h3 class="govuk-heading-s">What happens next</h3>

       <p>
        Once we receive your payment, your account will be updated within 48 hours. </p>

        <p>
          If you have any questions, you can 
          <a href="https://www.gov.uk/contact-companies-house">contact us</a>.
          
        </p>

      <p class="govuk-body-xs govuk-!-margin-top-9">
        <a href="penalty-summary" class="govuk-link">Penalty summary for testing</a> 
      </p>
<!-- Another way 
      <h2 class="govuk-heading-m">
       Other ways to pay
      </h2>

      <p>
        You can pay by:
       </p>
   
       <ul class="govuk-list govuk-list--bullet">
         <li>bank transfer</li>
         <li>cheque (late filing penalties only)</li>
       </ul>
  
    
      <!-- Bacs
      <h3 class="govuk-heading-s">Pay by bank transfer</h3>
  
      <p>
       You can pay using Bacs payment. You'll need to use the account details shown on your penalty notice.
      </p>
  
      <p>
       It usually takes up to 3 working days for your payment to reach Companies House. Check your bank's transaction limits and processing times before making a payment.
      </p>
  
  
  <!-- Cheque
     <h3 class="govuk-heading-s">Pay by cheque (late filing penalties only)</h3>
  
     <p>You can pay a late filing penalty by cheque, through the post. Make the cheque payable to ‘Companies House only’ and send it along with the slip on the penalty notice (‘remittance advice’) to Companies House.
     </p>
  
     <div class="govuk-inset-text">
       Companies House
       <br>PO Box 710
       <br>Crown Way
       <br>CF14 3UZ
     </div>
  
     <p>Write the company name and number on the back of the cheque. You’ll find the company number on your penalty notice.
     </p>-->
    </div>

    

{% endblock %}
