{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>

      <h3 class="govuk-heading-m govuk-!-padding-top-4">
        Alpha
      </h3>


        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v10/0-index">Version 10 - new branding</a>
            </td>
            <td class="govuk-table__cell">
             June 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
              Not tested
              </strong>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v9/0-index">Version 9</a>
            </td>
            <td class="govuk-table__cell">
             June 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
              Not tested
              </strong>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v8/0-index">Version 8</a>
            </td>
            <td class="govuk-table__cell">
             May 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v7/0-index">Version 7</a>
            </td>
            <td class="govuk-table__cell">
             April 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v6/0-index">Version 6</a>
            </td>
            <td class="govuk-table__cell">
              March 2024
            </td>
            <td class="govuk-table__cell">
               <strong class="govuk-tag govuk-tag--green">
             Tested
              </strong>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v5/0-index">Version 5</a>
            </td>
            <td class="govuk-table__cell">
              March 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
             Tested
              </strong>
            </td>
          </tr>



          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v4/0-index">Version 4</a>
            </td>
            <td class="govuk-table__cell">
              February 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
             Tested
              </strong>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v3/0-index">Version 3</a>
            </td>
            <td class="govuk-table__cell">
              February 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
             Tested
              </strong>
            </td>
          </tr>



          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v2/0-index">Version 2</a>
            </td>
            <td class="govuk-table__cell">
              January 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
             Tested
              </strong>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v1/0-index">Version 1</a>
            </td>
            <td class="govuk-table__cell">
              January 2024
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          </tr>

        </tbody>
      </table>



      {# {{ govukWarningText({
          text: "This prototype is being actively worked on - things might break or change very quickly",
          iconFallbackText: "Warning"
        }) }} #}



  </div>
</div>

{% endblock %}
